@charset "UTF-8";
/* ------------------------------------------------------------------ */
/* O L D - B R O W S E R    J R E J E C T    N O T I F I C A T I O N  */
/* ------------------------------------------------------------------ */
#jr_overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 2147483646;
}

#jr_wrap {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 2147483647;
}

#jr_header {
  display: block;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 5px;
  padding-bottom: 0;
  font: bold 1.3em/1 Helvetica, Arial, sans-serif;
  color: #333;
}

#jr_inner {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  background: #FFF;
  border: 1px solid #CCC;
  color: #4F4F4F;
  font: 400 12px/1 "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#jr_inner p {
  padding: 5px;
  margin: 0;
}

#jr_inner ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

#jr_inner ul li {
  margin: 0 10px 10px 10px;
  padding: 0;
  width: 120px;
  height: 122px;
  float: left;
  text-align: center;
  cursor: pointer;
}

#jr_inner li a {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 0.8em;
  text-decoration: none;
}

#jr_inner li a:hover {
  text-decoration: underline;
}

#jr_inner .jr_icon {
  margin: 1px auto;
  padding: 0;
  width: 100px;
  height: 100px;
  background: transparent no-repeat scroll left top;
  cursor: pointer;
}

#jr_close {
  margin: 0;
  padding: 0;
  clear: both;
}

#jr_close a {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  color: #000;
  text-decoration: underline;
}

#jr_close p {
  margin: 0;
  padding: 10px 0 0 0;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-slide:focus {
  outline: none;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../img/icons/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../fonts/slick/slick.eot");
  src: url("../fonts/slick/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick/slick.woff") format("woff"), url("../fonts/slick/slick.ttf") format("truetype"), url("../fonts/slick/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.33;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: none;
}

[dir="rtl"] .slick-prev:before {
  content: none;
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: none;
}

[dir="rtl"] .slick-next:before {
  content: none;
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #000;
  opacity: 0.33;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: #eee;
  opacity: 1;
}

/* ---------------------------------------- */
/* G E N E R A L    S T Y L E               */
/* ---------------------------------------- */
.ic {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.ic:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
}

.ic--btnshadow:before {
  width: 375px;
  height: 25px;
  background: url(../img/sprite.png) 0px 0px no-repeat;
}

.ic--left:before {
  width: 89px;
  height: 89px;
  background: url(../img/sprite.png) 0px -35px no-repeat;
}

.ic--phone:before {
  width: 11px;
  height: 11px;
  background: url(../img/sprite.png) -198px -35px no-repeat;
}

.ic--right:before {
  width: 89px;
  height: 89px;
  background: url(../img/sprite.png) -99px -35px no-repeat;
}

/* form */
.text-danger {
  color: #b94a48;
  text-align: left;
}

.form-group.error .form-control {
  border-color: #b94a48;
}

[type=submit]:disabled {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

a {
  outline: none;
}

a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

* {
  outline: 0 !important;
}

/* modal */
.modal {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.modal.show {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-dialog {
  position: relative;
  margin: auto;
}

.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.ic {
  vertical-align: top;
}

/* ---------------------------------------- */
/* H O M E    P A G E    S T Y L E          */
/* ---------------------------------------- */
.heading {
  font: 400 18px/30px "amavick", sans-serif;
  color: #615c53;
}

.heading--span {
  color: #a5be3d;
}

@media only screen and (min-width: 760px) {
  .heading {
    font: 400 30px/40px "amavick", sans-serif;
  }
}

.button {
  position: relative;
}

.button .ic {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 90%;
}

/* ---------------------------------------- */
/* T O O L T I P    S T Y L E               */
/* ---------------------------------------- */
.tooltipstered {
  cursor: pointer;
}

.tooltip__content {
  display: none;
}

.tooltip__row {
  margin: 0;
}

.tooltip__title {
  font: 700 14px/16px "GothamPro", sans-serif;
  color: #635c52;
}

.tooltip__list {
  padding: 0;
  list-style-type: none;
}

.tooltip__item {
  font: 400 14px/16px "GothamPro", sans-serif;
  color: #635c52;
}

.tooltip__image {
  text-align: center;
}

.tooltip__image img {
  display: inline-block;
}

.tooltip__text {
  font: 400 14px/16px "GothamPro", sans-serif;
  color: #635c52;
}

.tooltip__text--span {
  font: 700 14px/16px "GothamPro", sans-serif;
}

/* ---------------------------------------- */
/* N A V B A R    S T Y L E                 */
/* ---------------------------------------- */
.nav {
  padding-top: 30px;
}

.nav__box {
  text-align: center;
  margin-bottom: 30px;
}

.nav__logo {
  text-align: center;
  margin-bottom: 15px;
}

.nav__logo img {
  display: inline-block;
}

.nav__lang {
  display: inline-block;
  height: 30px;
  width: 30px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid rgba(28, 28, 28, 0.15);
  background: transparent;
  font: 400 14px/27px "amavick", sans-serif;
  color: #1c1c1c;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.nav__lang:hover, .nav__lang:focus {
  background-color: #9bbe29;
  color: #fff !important;
}

.nav__lang--active {
  background-color: #9bbe29;
  color: #fff !important;
  margin-right: 10px;
}

.contact {
  text-align: center;
  margin-bottom: 30px;
  white-space: nowrap;
}

.contact__text {
  font: 400 17px/18px "amavick", sans-serif;
  color: #222;
  text-transform: uppercase;
}

.contact__text:hover, .contact__text:focus {
  color: #9cbf2a;
}

.contact__text--span {
  display: inline-block;
  font: 400 18px/18px "amavick", sans-serif;
  color: #a5be3d;
  margin: 0 8px;
}

@media only screen and (min-width: 760px) {
  .nav {
    padding: 40px 0 50px;
  }
  .nav__box {
    text-align: left;
  }
  .contact {
    text-align: right;
  }
}

/* ---------------------------------------- */
/* H E A D E R    S T Y L E                 */
/* ---------------------------------------- */
.header {
  min-height: 480px;
  padding-bottom: 400px;
  background: url(../img/headerbg.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.header__subtitle {
  font: 400 16px/24px "amavick", sans-serif;
  color: #9cbf2a;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.header__title {
  font: 400 18px/30px "amavick", sans-serif;
  color: #615c53;
  text-transform: uppercase;
  text-align: center;
}

@media only screen and (min-width: 760px) {
  .header {
    height: 100vh;
    min-height: 800px;
  }
  .header__title {
    font: 400 42px/50px "amavick", sans-serif;
  }
  .header__subtitle {
    font: 400 24px/30px "amavick", sans-serif;
  }
}

@media only screen and (min-width: 992px) {
  .header__title {
    font: 400 46px/60px "amavick", sans-serif;
  }
}

/* ---------------------------------------- */
/* I N T R O    S T Y L E                   */
/* ---------------------------------------- */
.intro {
  padding-top: 160px;
  margin-top: -70px;
  background: url(../img/introbg.png) no-repeat;
  background-size: cover;
  background-position: center top;
  overflow: hidden;
}

.intro__heading {
  text-align: center;
  margin-bottom: 30px;
}

.intro__heading--sm {
  display: none;
}

.intro__btn {
  font: 400 14px/18px "amavick", sans-serif;
  text-align: center;
  padding: 20px 30px;
  -webkit-border-radius: 30px !important;
          border-radius: 30px !important;
  border: 2px solid #635c52 !important;
  color: #635c52;
  margin-bottom: 35px;
}

.intro__btn:hover, .intro__btn:focus {
  color: #635c52;
}

.intro__btn.active {
  background: #9cbf29 -webkit-gradient(linear, left bottom, left top, from(rgba(126, 152, 39, 0.81)), to(rgba(156, 191, 41, 0.81)));
  background: #9cbf29 -webkit-linear-gradient(bottom, rgba(126, 152, 39, 0.81) 0%, rgba(156, 191, 41, 0.81) 100%);
  background: #9cbf29 linear-gradient(to top, rgba(126, 152, 39, 0.81) 0%, rgba(156, 191, 41, 0.81) 100%);
  border: 1px solid #635c52 !important;
  color: #fff !important;
  -webkit-box-shadow: 0 0 20px 2px #7e9a21;
          box-shadow: 0 0 20px 2px #7e9a21;
}

.intro__text {
  font: 400 16px/20px "GothamPro", sans-serif;
  color: #615c53;
  text-align: center;
  margin-bottom: 40px;
}

.intro__image {
  position: relative;
  height: 400px;
}

.intro__img {
  position: absolute;
  top: 0;
  opacity: 0;
  visibility: hidden;
  height: 100%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.intro__img img {
  height: 100%;
}

.intro__img.active {
  opacity: 1;
  visibility: visible;
}

.tab-pane {
  text-align: center;
}

.nav-tabs {
  display: block;
  border: 0;
  padding: 0;
}

@media only screen and (min-width: 760px) {
  .intro {
    padding: 160px 0 60px;
  }
  .intro__heading--sm {
    display: block;
  }
  .intro__heading--lg {
    display: none;
  }
  .intro__btn:nth-child(1) {
    margin-right: 20px;
  }
  .intro__text {
    text-align: left;
  }
  .intro__img {
    top: auto;
    bottom: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .intro {
    padding: 160px 0 0;
  }
  .intro__heading {
    text-align: left;
  }
  .intro__heading--sm {
    display: none;
  }
  .intro__heading--lg {
    display: block;
  }
  .intro__image {
    height: 480px;
  }
  .intro__img {
    left: 350px;
    opacity: 0.35;
    height: 100%;
    visibility: visible;
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
  }
  .intro__img img {
    max-width: none;
  }
  .intro__img.active {
    left: 0;
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
  .intro__img.active img {
    max-width: 100%;
  }
  .nav-tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

/* ---------------------------------------- */
/* P U R C H A S E    S T Y L E             */
/* ---------------------------------------- */
.purchase {
  padding: 100px 0 560px;
  background: url(../img/purchasebg.png) no-repeat;
  background-size: cover;
  background-position: 33% center;
  margin-top: -55px;
  position: relative;
  z-index: 25;
}

.purchase__heading {
  text-align: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.purchase__text {
  font: 400 16px/20px "GothamPro", sans-serif;
  color: #615c53;
  text-align: center;
}

.purchase__text--span {
  font: 700 16px/20px "GothamPro", sans-serif;
  color: #9cbf29;
  text-decoration: underline;
}

@media only screen and (min-width: 760px) {
  .purchase {
    padding-top: 180px;
    margin-top: -150px;
  }
}

@media only screen and (min-width: 992px) {
  .purchase {
    margin-top: -65px;
    padding-bottom: 350px;
  }
  .purchase__heading {
    text-align: left;
  }
  .purchase__text {
    text-align: left;
  }
}

/* ---------------------------------------- */
/* M A K E    S T Y L E                     */
/* ---------------------------------------- */
.make {
  padding: 230px 0 50px;
  background: url(../img/makebg.png) no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -180px;
  position: relative;
  z-index: 10;
}

.make__heading {
  text-align: center;
  margin-bottom: 30px;
}

.make__subheading {
  font: 400 16px/20px "GothamPro", sans-serif;
  color: #615c53;
  text-align: center;
  margin-bottom: 15px;
}

.make__text {
  font: 700 16px/20px "GothamPro", sans-serif;
  color: #615c53;
  margin-bottom: 35px;
  text-align: center;
}

.make__image {
  text-align: center;
}

.make__image img {
  display: inline-block;
}

.make__info {
  display: inline-block;
  position: relative;
  padding-left: 50px;
  margin-bottom: 55px;
  text-align: left;
}

.make__info img {
  position: absolute;
  left: -20px;
  top: 0;
  margin-top: -25px;
}

.make__info--1 img {
  left: -30px;
}

.make__info--2 {
  padding-left: 65px;
}

.make__info--2 img {
  top: -10px;
}

@media only screen and (min-width: 992px) {
  .make__heading {
    text-align: left;
  }
  .make__subheading {
    text-align: left;
  }
  .make__text {
    text-align: left;
  }
}

/* ---------------------------------------- */
/* P R O D U C E    S T Y L E               */
/* ---------------------------------------- */
.produce {
  padding: 220px 0 120px;
  background: url(../img/producebg.png) no-repeat;
  background-size: cover;
  background-position: 70% top;
  margin-top: -120px;
}

.produce__tabs {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.produce__btn {
  font: 700 16px/20px "GothamPro", sans-serif;
  color: #615c53 !important;
  text-decoration: underline;
  border: 0 !important;
  background: transparent !important;
}

.produce__btn.active {
  color: #a5be3d !important;
}

.produce__btn:hover, .produce__btn:focus {
  text-decoration: underline;
}

.produce__text {
  font: 400 16px/20px "GothamPro", sans-serif;
  color: #615c53;
  margin-bottom: 20px;
}

.produce__title {
  font: 700 16px/20px "GothamPro", sans-serif;
  color: #615c53;
  text-align: center;
  margin-bottom: 15px;
}

.produce__elem {
  font: 400 16px/20px "GothamPro", sans-serif;
  color: #615c53;
  margin-bottom: 15px;
}

.produce__elem--span {
  font: 700 16px/20px "GothamPro", sans-serif;
}

.produce__percent {
  font: 400 30px/30px "amavick", sans-serif;
  color: transparent;
  text-shadow: 1px 1px 0 #75872b;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(133, 151, 53, 0.9)), to(rgba(165, 190, 61, 0.9)));
  background-image: -webkit-linear-gradient(bottom, rgba(133, 151, 53, 0.9) 0%, rgba(165, 190, 61, 0.9) 100%);
  background-image: linear-gradient(to top, rgba(133, 151, 53, 0.9) 0%, rgba(165, 190, 61, 0.9) 100%);
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #acdc07;
}

.produce__image {
  text-align: center;
}

.produce__image img {
  display: inline-block;
}

@media only screen and (min-width: 760px) {
  .produce {
    background-position: center;
  }
  .produce__item {
    display: inline-block;
  }
}

@media only screen and (min-width: 992px) {
  .produce {
    margin-top: -90px;
  }
  .produce__item {
    display: block;
    text-align: left;
  }
  .produce__btn {
    padding-left: 0;
  }
  .produce__text {
    text-align: left;
  }
  .produce__title {
    text-align: left;
  }
  .produce__elem {
    text-align: left;
  }
  .produce__text {
    padding-right: 15px;
  }
}

/* ---------------------------------------- */
/* D E T A I L    S T Y L E                 */
/* ---------------------------------------- */
.info {
  padding: 100px 0 50px;
}

.info__heading {
  margin-bottom: 50px;
  text-align: center;
}

.info__box {
  text-align: center;
}

.info__image {
  margin-bottom: 30px;
}

.info__image img {
  display: inline-block;
}

.info__title {
  font: 700 16px/20px "GothamPro", sans-serif;
  color: #a5be3d;
  text-decoration: underline;
  margin-bottom: 15px;
}

.info__text {
  font: 400 16px/20px "GothamPro", sans-serif;
  color: #615c53;
}

@media only screen and (min-width: 760px) {
  .info {
    padding-top: 240px;
    background: url(../img/infobg.png) no-repeat;
    background-size: cover;
    background-position: center 200px;
    margin-top: -190px;
  }
}

@media only screen and (min-width: 992px) {
  .info {
    background-position: center;
    padding-bottom: 90px;
  }
  .info__heading {
    margin-bottom: 100px;
  }
  .info__image {
    margin-bottom: 40px;
  }
}

/* ---------------------------------------- */
/* T E C H    S T Y L E                     */
/* ---------------------------------------- */
.tech {
  padding: 150px 0 120px;
  background: url(../img/techbg.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.tech__heading {
  text-align: center;
  margin-bottom: 30px;
}

.tech__number {
  font: 400 24px/28px "amavick", sans-serif;
  color: #a5be3d;
  text-align: center;
  margin-bottom: 25px;
}

.tech__title {
  font: 400 28px/28px "amavick", sans-serif;
  color: #615c53;
  text-align: center;
  margin-bottom: 20px;
}

.tech__text {
  font: 400 16px/20px "GothamPro", sans-serif;
  color: #635c52;
  text-align: center;
}

.tech__count {
  font: 400 20px/20px "amavick", sans-serif;
  color: #635c52;
  text-align: center;
  line-height: 89px;
}

.tech__arrows {
  position: absolute;
  bottom: -80px;
  height: 89px;
  width: 260px;
  left: 50%;
  margin-left: -130px;
}

.tech__arrows .slick-next, .tech__arrows .slick-prev {
  height: 89px;
  width: 89px;
  z-index: 25;
}

.tech__arrows .slick-prev {
  left: 0;
}

.tech__arrows .slick-next {
  right: 0;
}

@media only screen and (min-width: 760px) {
  .tech {
    padding: 200px 0 140px;
  }
  .tech__arrows {
    bottom: -120px;
  }
}

@media only screen and (min-width: 992px) {
  .tech__heading {
    text-align: left;
    margin: 0;
  }
  .tech__box {
    padding-top: 80px;
  }
  .tech__number {
    text-align: left;
  }
  .tech__title {
    text-align: left;
  }
  .tech__text {
    text-align: left;
  }
  .tech__arrows {
    left: 0;
    margin: 0;
    bottom: 80px;
  }
}

@media only screen and (min-width: 1200px) {
  .tech__arrows {
    bottom: 180px;
  }
}

/* ------------------------------------------ */
/* S E C T I O N    F O O T E R    S T Y L E  */
/* ------------------------------------------ */
.footer {
  padding: 61px 0 51px;
  background-color: #f5f5f5;
}

.footer__logo {
  margin-bottom: 25px;
  text-align: center;
}

.footer__contact {
  margin-bottom: 37px;
}

.copyright {
  text-align: center;
}

.copyright__text {
  display: block;
  margin-bottom: 13px;
  font: 300 16px/18px "GothamPro", sans-serif;
  color: #615c53;
}

.copyright__img {
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: 760px) {
  .footer__logo {
    margin-bottom: 0;
  }
  .footer__contact {
    margin-bottom: 0;
  }
  .copyright__text {
    display: inline;
    margin-right: 16px;
  }
  .copyright__img {
    display: inline-block;
    vertical-align: top;
  }
}
