- var page = {}
- var hostname = "/" //- site domen name

- 
  var content = 
    {
      site: {
        lang: "ru",
        hostname: hostname, //- site domen name
        author: "Tagopen",
        meta: {
          charset: "utf-8",
          favicon: "favicon.ico",
          appleTouchIcon: "favicon.ico"
        },
        nav: {
          links: [
            {
              href: "/link1",
              displayName: "Link 1"
            },

            {
              href: "/link2",
              displayName: "Link 2"
            }
          ]
        },
        navRight: {
          links: [
            {
              href: "/link3",
              displayName: "Link 3"
            },

            {
              href: "/link4",
              displayName: "Link 4"
            },
          ]
        }
      }, //- site
      index: {
        hostname: "index.html",
        title: "Главная страница",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "Site name",
            siteName: "Site name",
            description: "Описание сайта",
            type: "website",
            locale: "ru_RU",
            image: "microformat.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "/img/logo/microformat.png"
          }
        },
        nav: {
          logo: {
            src: "img/logo/logo.png",
            alt: "Лого",
          },
          logo2: {
            src: "img/logo/logo-horizontal.png",
            alt: "Лого",
          },
          contact: {
            text: "<span class=\"contact__text--span\"> \\ </span>0 (98) 860 23 43",
            href: "tel\:0988602343"
          }
        },
        header: {
          title: "Производство натурального подсолнечного масла и уникального высокопротеинового шрота",
          subtitle: "Объединенные солнцем"
        },
        intro: {
          heading: "наш маслоэкстракционный завод <span class=\"heading--span\">«Потоки»</span> производит два основных вида готовой продукции:",
          tabs: {
            btn1: "масло подсолнечное",
            btn2: "высокопротеиновый шрот",
            text1: "Благодаря современному оборудованию и новейшим технологиям низкотемпературной экстракции, мы достигли высокого уровня производства. Семена подсолнечника подвергаются максимальному отжиму сохраняя максимальное количество полезных веществ. А инновационное оборудование позволяет производить уникальный высокопротеиновый шрот, который не имеет аналогов в мире по своему химическому составу.",
            text2: "",
            img1: {
              src: "img/intro1.png",
              alt: "oil"
            },
            img2: {
              src: "img/intro2.svg",
              alt: "meal"
            }
          }
        },
        purchase: {
          heading: "Закупка лучших масличных культур",
          text: "Мы производим нашу продукцию из семян масличных культур (<span class=\"purchase__text--span tooltipstered\" data-tooltip-content=\"#tooltip2\">подсолнечник</span>, <span class=\"purchase__text--span tooltipstered\" data-tooltip-content=\"#tooltip1\">соя</span>) с высокой насыщенностью жира. Всё сырье мы тщательно проверяем в собственной лаборатории входного контроля и берем в работу исключительно лучшие сорта.",
          tooltip1: {
            heading: "Базовые показатели по семенам сои:",
            img: {
              src: "img/tooltip1.png",
              alt: "Oil"
            },
            items: [
              "- влага – 12 %;",
              "- сорная примесь – 2 %;",
              "- масличная примесь – 6 %;",
              "- зараженность вредителями – не допускается.",
            ]
          },
          tooltip2: {
            heading: "Базовые показатели по семенам подсолнечника:",
            img: {
              src: "img/tooltip2.png",
              alt: "Meal"
            },
            items: [
              "- влага – 8,0%;",
              "- сорная примесь – 3%;",
              "- масличность - 45%;",
              "- масличная примесь – 7%;",
              "- зараженность вредителями – не допускается.",
            ]
          },
        },
        make: {
          heading: "Производим подсолнечное масло",
          subheading: "<span class=\"purchase__text--span tooltipstered\" data-tooltip-content=\"#tooltip3\">Подсолнечное масло</span> нашего производства имеет высокую насыщенность жира. Обладает ярко выраженным ароматом свежего подсолнечного ядра и приятным натуральным вкусом.",
          img: {
            src: "img/make1.png",
            alt: "Миска"
          },
          text: "В продукте полностью сохранены:",
          info1: "витамин Е",
          info2: "ненасыщенные жирные кислоты, которые называют витамином F",
          vitamin1: {
            src: "img/vitamine.png",
            alt: "Е",
            text: "<span class=\"make__info--span\">витамин Е</span>"
          },
          vitamin2: {
            src: "img/vitaminf.png",
            alt: "F",
            text: "ненасыщенные жирные кислоты, которые называют <span class=\"make__info--span\">витамином F</span>"
          },
          tooltip: "<div class=\"tooltip__text\">Масло подсолнечное гидратированное первого сорта согласно ДСТУ 4492:2005 <span class=\"tooltip__text--span\">«Олія соняшникова»</span><div>"
        },
        produce: {
          heading: "Производим шрот",
          img: {
            src: "img/produce.png",
            alt: "Шрот"
          },
          tooltip: "<div class=\"tooltip__text\"><span class=\"tooltip__text--span\">Шрот подсолнечный высокопротеиновый</span> тостовый не гранулированный согласно ДСТУ 4638:2006<div>",
          tab1: {
            btn: "- Уникальный высокопротеиновый шрот",
            text: "Технологии производства нашего завода позволяют произвести <span class=\"purchase__text--span tooltipstered\" data-tooltip-content=\"#tooltip4\">уникальный высокопротеиновый шрот</span>. Его состав подобен составу соевого шрота и содержит в себе до 46% протеина. Имеет высокий состав аминокислот, в частности метионина, который благоприятно влияет на рост молодых животных, птиц и рыб.",
            title: "Состав высокопротеинового уникального шрота:",
            items: [
              {
                text: "<span class=\"produce__percent\">46%</span> содержание <span class=\"produce__elem--span\">протеина</span>"
              },
              {
                text: "<span class=\"produce__percent\">2%</span> содержание <span class=\"produce__elem--span\">жира</span>"
              },
              {
                text: "<span class=\"produce__percent\">8%</span> содержание <span class=\"produce__elem--span\">влаги</span>"
              },
              {
                text: "<span class=\"produce__percent\">6%</span> <span class=\"produce__elem--span\">клетчатка</span>"
              }
            ]
          },
          tab2: {
            btn: "- Универсальный подсолнечный шрот",
            text: "Мы производим универсальный подсолнечный шрот, который включает в себя множество полезных веществ, необходимых для роста свиней, КРС и птиц. В шроте содержится фосфор, витамины В и Е и другие минеральные вещества.",
            title: "Состав универсального подсолнечного шрота:",
            items: [
              {
                text: "<span class=\"produce__percent\">1,5-2%</span> содержание <span class=\"produce__elem--span\">масла</span>"
              },
              {
                text: "<span class=\"produce__percent\">39%</span> содержание <span class=\"produce__elem--span\">сырого протеина</span>"
              },
              {
                text: "<span class=\"produce__percent\">ДО 23%</span> содержание <span class=\"produce__elem--span\">клетчатки</span>"
              },
              {
                text: "<span class=\"produce__percent\">9-11%</span> <span class=\"produce__elem--span\">влага</span>"
              }
            ]
          }
        },
        info: {
          heading: "Дополнительная продукция",
          items: [
            {
              title: "Подсолнечный фосфатидный концентрат",
              text: "Широко используется в пищевой промышленности для производства лецитина, применяются в хлебопечении как улучшители качества хлеба. Хорошо усваиваются в организме человека, благоприятно влияют на белково–жировой обмен и служат источником образования органического фосфора.",
              img: {
                src: "img/info1.svg",
                alt: "Кувшин"
              }
            },
            {
              title: "Пеллеты из лузги подсолнечника",
              text: "Производятся из перемолотой лузги семян подсолнечника с помощью прессования при высокой температуре и без добавления какого-либо связующего материала. Теплоту сгорания гранул из лузги можно сравнить с теплотворной способностью бурого угля.",
              img: {
                src: "img/info2.svg",
                alt: "Кувшин"
              }
            }
          ]
        },
        tech: {
          heading: "Технологии и оборудование",
          slides: [
            {
              number: "01",
              title: "Лучшее оборудование",
              text: "Пропускная способность завода позволяет перерабатывать 1400 тонн семян подсолнечника в сутки.",
              img: {
                src: "img/slide1.svg",
                alt: "Технология"
              }
            },
            {
              number: "02",
              title: "Большой объем производства",
              text: "Пропускная способность завода позволяет перерабатывать 1400 тонн семян подсолнечника в сутки.",
              img: {
                src: "img/slide2.png",
                alt: "Технология"
              }
            },
            {
              number: "03",
              title: "Инновации",
              text: "Все технологические процессы извлечения масла и сопутствующих продуктов направлены на сохранение первоначальных свойств сырья\: полноценность, сбалансированность по калорийности и жирнокислотному составу.",
              img: {
                src: "img/slide3.svg",
                alt: "Технология"
              }
            },
            {
              number: "04",
              title: "Контроль качества",
              text: "Каждая партия готовой продукции, проходит полный контроль по показателям качества, в соответствии с нормативными документами на продукцию.",
              img: {
                src: "img/slide4.svg",
                alt: "Технология"
              }
            }
          ],
          count: "01 / 04"
        },
        people: {
          heading: "Люди",
          img: {
            src: "img/illustration.png",
            alt: "Люди"
          },
          text: "В нашей команде работают лучшие в своем роде специалисты, которые постоянно повышают свой уровень знаний и умений. Мы всячески поддерживаем корпоративный дух, взаимовыручку, передачу опыта. Благодаря этому наш коллектив работает слаженно и эффективно.",
          notify: "Мы работаем с профильными ВУЗами, участвуя в подготовке нового поколения инженеров пищевой промышленности.",
          btn: {
            text: "Стать частью команды"
          }
        },
        mission: {
          heading: "Миссия",
          descr: "Извлекая из даров солнца всё самое ценное и сохраняя заложенные природой полезные свойства, мы производим качественный, экологически чистый и полезный продукт для всех, кто заботится о своем здоровье!",
          items: [
            {
              icon: "ic ic--medal",
              heading: "Качество нашей работы",
              text: "это наша безупречная репутация. А потому мы ответственно относимся ко всем без исключения рабочим процессам: технологиям и производству, презентации продукта, взаимодействию с партнерами."
            },
            {
              icon: "ic ic--protect",
              heading: "Надежность",
              text: "нам доверяют, выбирая нашу продукцию, и мы, в свою очередь, дорожим добрыми отношениями с клиентами, демонстрируя честность и порядочность на всех этапах взаимодействия. "
            },
            {
              icon: "ic ic--gear",
              heading: "Профессионализм",
              text: "досконально знать своё дело, развиваться и реализовываться, обучаться новому, быть открытым для инноваций и проявлять инициативу. Именно такими качествами обладают наши сотрудники, именно эти качества позволяют нам быть впереди."
            },
            {
              icon: "ic ic--people",
              heading: "Командная работа",
              text: "только слаженный коллектив способен работать на максимальный результат, а потому мы приветствуем и всячески поддерживаем корпоративный дух, взаимовыручку, передачу опыта и знаний.  "
            },
          ]
        },
        transfer: {
          heading: "Хранение и транспортировка продукции",
          img: {
            src: "img/illustration.svg",
            alt: "Люди"
          },
          text: "Сырье и готовая продукция хранятся в складских помещениях, которые полностью соответствуют стандартам предъявленным в нормативных документах. Транспортировку осуществляют надежные компании, которые соблюдают все правила перевозки. Благодаря правильным условиям хранения и доставки наша продукция всегда остается свежей и не теряет своих качеств.",
          link: {
            href: "#",
            text: "Узнать подробнее о хранение продукции"
          },
          btn: {
            text: "Сотрудничество по транспорту"
          }
        },
        question: {
          heading: "задайте нам вопрос или оставьте предложение",
          form: {
            name: {
              placeholder: "Введите ваше имя"
            },
            phone: {
              placeholder: "Введите ваш телефон"
            },
            email: {
              placeholder: "Введите ваш email"
            },
            select: {
              placeholder: "Укажите тему вашего вопроса",
              items: [
                "Предложение",
                "Пожелание",
                "Транспорт",
                "Сырье",
                "Продукция",
                "Работа",
              ]
            },
            message: {
              placeholder: "Введите текст"
            },
            submit: {
              text: "Отправить",
              value: "Вопорос/Предложение/Пожелание",
              loading: "<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется..."
            },
            notify: "Гарантируем полную конфиденциальность ваших данных"
          }
        },
        map: {
          bubble: {
            heading: "Наши контакты",
            items: [
              {
                icon: "map-pin",
                key: "Адрес:",
                value: {
                  text: "г. Днепр, ул. Байкальская 9"
                }
              },
              {
                icon: "phone",
                key: "Телефон:",
                value: {
                  link: {
                    href: "tel:0988602343",
                    text: "0 (98) 860 23 43"
                  }
                }
              },
              {
                icon: "email",
                key: "Email:",
                value: {
                  link: {
                    href: "mailto:info@mez.com.ua",
                    text: "info@mez.com.ua"
                  }
                }
              },
            ]
          }
        },
        footer: {
          copyright: {
            text: "Cделано с душой студией",
            img: {
              src: "img/logo/well-done.png",
              alt: "well-done",
            }
          }
        },
        modal: {
          call: {
            heading: "заполните форму",
            descr: "мы свяжемся с вами в течение 15 минут",
            submit: {
              text: "",
              value: "Заказ обратного звонока"
            }
          },
          product: {
            heading: "Хранение продукции",
            text: [
              "Шрот подсолнечника и сои хранят в складских помещениях, оборудованных приточно-вытяжной вентиляцией. Помещения хорошо проветриваются, чистые, сухие, не зараженные вредителями хлебных запасов, защищенные от попадания солнечного света и источников тепла. Произведенный шрот хранится насыпом или в мешках.",
              "Масло растительное хранится в специальных емкостях хранения отвечающих всем нормам и правилам хранения пищевых продуктов. Очистка баков и емкостей, в которых хранят масло происходит в требуемые нормативными документами сроками (не реже одного раза в год)."
            ],
            img: {
              src: "img/barrel.jpg",
              alt: "barrel"
            }
          },
          work: {
            heading: "Узнай о возможных вакансиях на нашем заводе",
            descr: "Оставь свои контакты, чтобы узнать о вакансиях и предложить свою кандидатуру в нашу команду! Мы постоянно проводим собеседования в поисках лучших специалистов!",
            submit: {
              text: "Узнать о вакансиях",
              value: "Заявка на вакансию"
            }
          },
          communication: {
            title: {
              text: "Узнайте о возможностях сотрудничества c МЭЗ «Потоки»",
            },
            subheading: "Оставьте свои контакты, если вас интересует совместная работа с нашим заводом",
            submit: {
              value: "Предложение по транспорту",
              text: "Предложить возможность сотрудничества"
            }
          },
          form: {
            title: {
              text: "Заполните форму",
            },
            subheading: "и мы свяжемся с вами в течение 15 минут",
            btn: {
              text: "Предложить возможность сотрудничества"
            }
          },

        }
      }, //- index
      success: {
        hostname: "success.html",
        title: "Форма отправлена",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "Site name",
            siteName: "Site name",
            description: "Описание сайта",
            type: "website",
            locale: "ru_RU",
            image: "microformat.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "/img/logo/microformat.png"
          }
        },
        nav: {
          logo: {
            src: "img/logo/logo.png",
            alt: "Лого",
          },
          logo2: {
            src: "img/logo/logo-horizontal.png",
            alt: "Лого",
          },
          contact: {
            text: "<span class=\"contact__text--span\"> \\ </span>0 (98) 860 23 43",
            href: "tel\:0988602343"
          }
        },
        header: {
          title: "Мы свяжемся с вами в ближайшее время",
          subtitle: "спасибо за оставленную заявку!",
          btn: {
            href: "index.html",
            text: "вернуться на главную"
          }
        },
      }, //- success.html
    }
