- var page = {}
- var hostname = "/" //- site domen name

- 
  var content = 
    {
      site: {
        lang: "en",
        hostname: hostname, //- site domen name
        author: "Tagopen",
        meta: {
          charset: "utf-8",
          favicon: "favicon.png",
          appleTouchIcon: "apple-touch-icon.png"
        },
        nav: {
          links: [
            {
              href: "/link1",
              displayName: "Link 1"
            },

            {
              href: "/link2",
              displayName: "Link 2"
            }
          ]
        },
        navRight: {
          links: [
            {
              href: "/link3",
              displayName: "Link 3"
            },

            {
              href: "/link4",
              displayName: "Link 4"
            },
          ]
        }
      }, //- site
      indexEN: {
        hostname: "index.html",
        title: "Главная страница",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "Site name",
            siteName: "Site name",
            description: "Описание сайта",
            type: "website",
            locale: "ru_RU",
            image: "microformat.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "/img/logo/microformat.png"
          }
        },
        nav: {
          logo: {
            src: "img/logo/logo.png",
            alt: "Лого",
          },
          logo2: {
            src: "img/logo/logo-horizontal.png",
            alt: "Лого",
          },
          contact: {
            text: "<span class=\"contact__text--span\"> \\ </span>0-800-12-34-56",
            href: "tel/:0800123456"
          }
        },
        header: {
          title: "Production of natural sunflower oil and high- protein sunflower meal",
          subtitle: "United by the sun"
        },
        intro: {
          heading: "our oil extracting factory <span class=\"heading--span\">Potoky</span> is dealing with the manufacturing of two basic types of output products",
          tabs: {
            btn1: "sunflower oil",
            btn2: "high-protein sunflower meal",
            text1: "We have reached a high level of production with modern equipment and latest technologies of low-temperature extraction. Sunflower seeds undergo maximum pressing and our oil turns to be extremely concentrated. The innovational equipment makes it possible to produce unique high protein sunflower meal which has no analogues in the world in its chemical composition.",
            text2: "",
            img1: {
              src: "img/intro1.png",
              alt: "oil"
            },
            img2: {
              src: "img/intro2.svg",
              alt: "meal"
            }
          }
        },
        purchase: {
          heading: "Purchasing the best oil plants",
          text: "We manufacture our products from oil plant seeds (<span class=\"purchase__text--span tooltipstered\" data-tooltip-content=\"#tooltip1\">sunflower</span>, <span class=\"purchase__text--span tooltipstered\" data-tooltip-content=\"#tooltip2\">soya</span>) with high fat content. All raw materials are thoroughly inspected in our own laboratory of incoming control and we process the best species only."
        },
        make: {
          heading: "We manufacture sunflower oil",
          subheading: "<span class=\"purchase__text--span tooltipstered\" data-tooltip-content=\"#tooltip3\">Sunflower oil</span> produced by us has a high fat content. It has a strong smell of fresh sunflower kernels and a pleasant natural taste. The product contains fully preserved vitamin E, unsaturated fatty acids called vitamin F.",
          img: {
            src: "img/make1.png",
            alt: "Миска"
          },
          text: "В продукте полностью сохранены:",
          info1: "витамин Е",
          info2: "ненасыщенные жирные кислоты, которые называют витамином F",
          vitamin1: {
            src: "img/vitamine.png",
            alt: "Е",
            text: "витамин Е"
          },
          vitamin2: {
            src: "img/vitaminf.png",
            alt: "F",
            text: "ненасыщенные жирные кислоты, которые называют витамином F"
          },
          tooltip: "<div class=\"tooltip__text\">Масло подсолнечное гидратированное первого сорта согласно ДСТУ 4492:2005 <span class=\"tooltip__text--span\">«Олія соняшникова»</span><div>"
        },
        produce: {
          heading: "We manufacture unique sunflower meal",
          img: {
            src: "img/produce.png",
            alt: "Шрот"
          },
          tooltip: "<div class=\"tooltip__text\"><span class=\"tooltip__text--span\">Шрот подсолнечный высокопротеиновый</span> тостовый не гранулированный согласно ДСТУ 4638:2006<div>",
          tab1: {
            btn: "- High-protein sunflower meal",
            text: "Технологии производства нашего завода позволяют произвести <span class=\"purchase__text--span tooltipstered\" data-tooltip-content=\"#tooltip4\">уникальный высокопротеиновый шрот</span>. Его состав подобен составу соевого шрота и содержит в себе до 46% протеина. Имеет высокий состав аминокислот, в частности метионина, который благоприятно влияет на рост молодых животных, птиц и рыб.",
            title: "Состав высокопротеинового уникального шрота:",
            items: [
              {
                text: "<span class=\"produce__percent\">46%</span> <span class=\"produce__elem--span\">Protein</span>"
              },
              {
                text: "<span class=\"produce__percent\">2%</span> <span class=\"produce__elem--span\">Protein</span>"
              },
              {
                text: "<span class=\"produce__percent\">8%</span> <span class=\"produce__elem--span\">Moisture</span>"
              },
              {
                text: "<span class=\"produce__percent\">6%</span> <span class=\"produce__elem--span\">Fibre</span>"
              }
            ]
          },
          tab2: {
            btn: "- Обычный подсолнечный шрот",
            text: "Our factory also produces ordinary sunflower meal which differs in its formula from high protein one. It has a lot of nutrients necessary for pig, cattle and poultry breeding. The meal has phosphorus, vitamins B and E as well as other mineral substances.",
            title: "The composition of sunflower meal:",
            items: [
              {
                text: "<span class=\"produce__percent\">1,5-2%</span> <span class=\"produce__elem--span\">Oil</span>"
              },
              {
                text: "<span class=\"produce__percent\">39%</span> <span class=\"produce__elem--span\">Crude protein</span>"
              },
              {
                text: "<span class=\"produce__percent\">ДО 23%</span> <span class=\"produce__elem--span\">Fibre</span>"
              },
              {
                text: "<span class=\"produce__percent\">9-11%</span> <span class=\"produce__elem--span\">Moisture</span>"
              }
            ]
          }
        },
        info: {
          heading: "By-products",
          items: [
            {
              title: "Sunflower phosphatide concentrate",
              text: "is widely used in food industry to produce lecithin, applied in baking to improve the quality of bread. It is highly soluble in a human body, beneficial for protein-fat interaction and is a source to build organic phosphorus.",
              img: {
                src: "img/info1.svg",
                alt: "Кувшин"
              }
            },
            {
              title: "Пеллеты из лузги подсолнечника",
              text: "Производятся из перемолотой лузги семян подсолнечника с помощью прессования при высокой температуре и без добавления какого-либо связующего материала. Теплоту сгорания гранул из лузги можно сравнить с теплотворной способностью бурого угля.",
              img: {
                src: "img/info2.svg",
                alt: "Кувшин"
              }
            }
          ]
        },
        tech: {
          heading: "Технологии и оборудование",
          slides: [
            {
              number: "01",
              title: "Лучшее оборудование",
              text: "Пропускная способность завода позволяет перерабатывать 1400 тонн семян подсолнечника в сутки.",
              img: {
                src: "img/slide1.svg",
                alt: "Технология"
              }
            },
            {
              number: "02",
              title: "Большой объем производства",
              text: "Пропускная способность завода позволяет перерабатывать 1400 тонн семян подсолнечника в сутки.",
              img: {
                src: "img/slide2.png",
                alt: "Технология"
              }
            },
            {
              number: "03",
              title: "Инновации",
              text: "Все технологические процессы извлечения масла и сопутствующих продуктов направлены на сохранение первоначальных свойств сырья\: полноценность, сбалансированность по калорийности и жирнокислотному составу.",
              img: {
                src: "img/slide3.svg",
                alt: "Технология"
              }
            },
            {
              number: "04",
              title: "Контроль качества",
              text: "Каждая партия готовой продукции, проходит полный контроль по показателям качества, в соответствии с нормативными документами на продукцию.",
              img: {
                src: "img/slide4.png",
                alt: "Технология"
              }
            }
          ]
        },
        people: {
          heading: "Люди",
          img: {
            src: "img/illustration.png",
            alt: "Люди"
          },
          text: "В нашей команде работают лучшие в своем роде специалисты, которые постоянно повышают свой уровень знаний и умений. Мы всячески поддерживаем корпоративный дух, взаимовыручку, передачу опыта. Благодаря этому наш коллектив работает слаженно и эффективно.",
          notify: "Мы работаем с профильными ВУЗами, участвуя в подготовке нового поколения инженеров пищевой промышленности.",
          btn: {
            text: "Стать частью команды"
          }
        },
        mission: {
          heading: "Миссия",
          descr: "Извлекая из даров солнца всё самое ценное и сохраняя заложенные природой полезные свойства, мы производим качественный, экологически чистый и полезный продукт для всех, кто заботится о своем здоровье!",
          items: [
            {
              icon: "ic ic--medal",
              heading: "Качество нашей работы",
              text: "это наша безупречная репутация. А потому мы ответственно относимся ко всем без исключения рабочим процессам: технологиям и производству, презентации продукта, взаимодействию с партнерами."
            },
            {
              icon: "ic ic--protect",
              heading: "Надежность",
              text: "нам доверяют, выбирая нашу продукцию, и мы, в свою очередь, дорожим добрыми отношениями с клиентами, демонстрируя честность и порядочность на всех этапах взаимодействия. "
            },
            {
              icon: "ic ic--gear",
              heading: "Профессионализм",
              text: "досконально знать своё дело, развиваться и реализовываться, обучаться новому, быть открытым для инноваций и проявлять инициативу. Именно такими качествами обладают наши сотрудники, именно эти качества позволяют нам быть впереди."
            },
            {
              icon: "ic ic--people",
              heading: "Командная работа",
              text: "только слаженный коллектив способен работать на максимальный результат, а потому мы приветствуем и всячески поддерживаем корпоративный дух, взаимовыручку, передачу опыта и знаний.  "
            },
          ]
        },
        transfer: {
          heading: "Хранение и транспортировка продукции",
          img: {
            src: "img/illustration.png",
            alt: "Люди"
          },
          text: "Сырье и готовая продукция хранятся в складских помещениях, которые полностью соответствуют стандартам предъявленным в нормативных документах. Транспортировку осуществляют надежные компании, которые соблюдают все правила перевозки. Благодаря правильным условиям хранения и доставки наша продукция всегда остается свежей и не теряет своих качеств.",
          link: {
            href: "#",
            text: "Узнать подробнее о хранение продукции"
          },
          btn: {
            text: "Сотрудничество по транспорту"
          }
        },
        question: {
          heading: "задайте нам вопрос или оставьте предложение",
          form: {
            name: {
              placeholder: "Введите ваше имя"
            },
            phone: {
              placeholder: "Введите ваш телефон"
            },
            email: {
              placeholder: "Введите ваш email"
            },
            select: {
              placeholder: "Укажите тему вашего вопроса",
              items: [
                "тема 1",
                "тема 2",
                "тема 3",
              ]
            },
            message: {
              placeholder: "Введите текст"
            },
            submit: {
              text: "Отправить",
              value: "Задайте нам вопрос",
              loading: "<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется..."
            },
            notify: "Гарантируем полную конфиденциальность ваших данных"
          }
        },
        map: {
          bubble: {
            heading: "Наши контакты",
            items: [
              {
                icon: "map-pin",
                key: "Адрес:",
                value: {
                  text: "Украина, г. Днепр, ул. Байкальская 9"
                }
              },
              {
                icon: "phone",
                key: "Телефон:",
                value: {
                  link: {
                    href: "tel:0800123456",
                    text: "0-800-12-34-56"
                  }
                }
              },
              {
                icon: "email",
                key: "Email:",
                value: {
                  link: {
                    href: "mailto:info@mez.com.ua",
                    text: "info@mez.com.ua"
                  }
                }
              },
            ]
          }
        },
        footer: {
          copyright: {
            text: "Cделано с душой студией",
            img: {
              src: "img/logo/well-done.png",
              alt: "well-done",
            }
          }
        }
      }, //- index
    }
