footer.footer
  .container
    .row.justify-content-between.align-items-center
      .col-24.col-md-6
        .logo.footer__logo
          img.hidden-md-up.img-fluid(src!=page.nav.logo.src, alt!=page.nav.logo.alt)
          img.hidden-sm-down.img-fluid(src!=page.nav.logo2.src, alt!=page.nav.logo2.alt)
      .col-24.col-md-11.col-xl-8.flex-last.flex-md-unordered
        small.copyright.footer__copyright
          span.copyright__text!= page.footer.copyright.text
          img.copyright__img(src=page.footer.copyright.img.src, alt=page.footer.copyright.img.alt)
      .col-24.col-md-7.col-xl-4
        .contact.footer__contact
          i.ic.ic--phone
          a.contact__text(href!=page.nav.contact.href)!=page.nav.contact.text
