section.info
  .container
    .row
      .col-24
        h2.heading.info__heading!=page.info.heading
    .row.justify-content-center
      each item, i in page.info.items
        .col-24.col-md-18.col-lg-12
          .info__box
            .info__image
              img.img-fluid(src!=item.img.src, alt!=item.img.alt)
            .info__content
              .info__title!=item.title
              .info__text!=item.text
