section.people
  .container
    .row.align-items-center
      .hidden-md-down.col-24.col-lg-10
        .people__photo
          img.img-fluid.people__img(src=page.people.img.src, alt=page.people.img.alt)
      .col-24.col-lg-14  
        .row
          .col-24
            h2.heading.people__heading!= page.people.heading
            p.people__text!=  page.people.text
            p.notify.people__notify!=  page.people.notify
          .col-24.col-md-14.offset-md-5.offset-lg-0  
            .button-group
              button.button.button--size.button--green(type='button', data-toggle="modal", data-target='#modal__work')!= page.people.btn.text
