.tooltip__content
  #tooltip1
    .row.tooltip__row
      .col-24.col-md-5
        .tooltip__image
          img.img-fluid(src="img/tooltip1.png", alt="oil")
      .col-24.col-md-19
        .tooltip__title Базовые показатели по семенам сои:
        ul.tooltip__list
          li.tooltio__item - влага – 12 %;
          li.tooltio__item - сорная примесь – 2 %;
          li.tooltio__item - масличная примесь – 6 %;
          li.tooltio__item - зараженность вредителями – не допускается. 
  #tooltip2
    .row.tooltip__row
      .col-24.col-md-5
        .tooltip__image
          img.img-fluid(src="img/tooltip2.png", alt="meal")
      .col-24.col-md-19
        .tooltip__title Базовые показатели по семенам подсолнечника:
        ul.tooltip__list
          li.tooltio__item - влага – 8,0%;
          li.tooltio__item - сорная примесь – 3%;
          li.tooltio__item - масличность - 45%;
          li.tooltio__item - масличная примесь – 7%;
          li.tooltio__item - зараженность вредителями – не допускается.
  #tooltip3
    .row.tooltip__row
      .col-24
        .tooltip__text!=page.make.tooltip 
  #tooltip4
    .row.tooltip__row
      .col-24
        .tooltip__text!=page.produce.tooltip       
