extends base/_layout.pug
block variables

block styles

block scripts

block header
  include partials/_header.pug
block content
  include partials/_intro.pug
  include partials/_purchase.pug
  include partials/_make.pug
  include partials/_produce.pug
  include partials/_info.pug
  include partials/_tech.pug
  include partials/_people.pug
  include partials/_mission.pug
  include partials/_transfer.pug
  include partials/_question.pug
  include partials/_map.pug
block footer
  include partials/_footer.pug
block modal
  include partials/_modal.pug
  include partials/_tooltip.pug
  
  
